<h1>Shoplist</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each equips}}
        <tr>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td>
                <form action="/card/delete">
                <input type="hidden" name="id" value="{{id}}">
                <button class="btn btn-small" type="submit">Cancel</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>