<div class="wrap" style="display: flex; flex-direction: column; justify-content:center; align-items: center;">

        <h1>{{equip.title}}</h1>
        <img style="max-width: 600px;" src='{{equip.image}}' alt="{{equip.title}}">
        <p class="price" style="font-size: 60px;">{{equip.price}}</p>
</div>